<div *ngIf="displayError.error" class="alert alert-danger">
    {{displayError.msg}}
</div>
 <!-- 
<div *ngIf="displayError.error == 'required'" class="alert alert-danger">
    {{displayError.msg}}
</div>

<div *ngIf="displayError.error == 'pattern'" class="alert alert-danger">
  {{displayError.msg}}
</div>

<div *ngIf="displayError.error == 'minlength'" class="alert alert-danger">
  {{displayError.msg}}
</div>

<div *ngIf="displayError.error == 'maxlength'" class="alert alert-danger">
  {{displayError.msg}} 
</div> 
-->

<!-- <div class="alert alert-success">
{{displayError.error}}
</div> -->